body {
	background: url("images/diamond_upholstery.png") repeat;
}
header, footer {
	border-top: 2px solid #444;
	border-bottom: 2px solid #444;
	background-color: #FFF;
}
header p {
	font-size:24px;
	display: inline;
	margin: 15px;
}
nav {
	background-color: #444;
	margin: 0 15px 15px 15px;
	padding: 7px;
	font-size: 20px;
	color: #FFF;
}
nav a {
	color: #FFF;
	text-decoration: none;
	display: inline-block;
}
main > a {
	display: block;
}
footer {
	font-size: 14px;
	padding: 20px 3px;
}